/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

/* .App {
  text-align: center;
} */

.navbar {
  text-align: center;
  font-size:20px;
}

section {
  margin: 0 ;
  border-top: 1px solid ;

}

.card {
  display: inline-block;
  box-Shadow: 0 0 20px rgba(0,0,0,0.1);
  margin: 0 10px;
  padding: 20px;
  background-color: #ffffff;
  max-width: 350px;
  height: 400px;
}

button {
  display: block;
  border: 1px solid;
  padding: 5px 10px;
  border-radius: 10px;
  width: 200;
}

img{
  width : 100%;
  height : 200px;
 
  
}


/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

/* .card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
